<body>
	<div class = 'blackJackContent'>
		<p> Blackjack is a game were a group of players are playing against the dealer, or the house. In this game each player is dealt one card face up, from right to left in order sitting in front of the dealer. The dealer is then dealt one card face up. Each player is then dealt a second card face up, and the dealer deals them self a second card face down. If the first card was a ten, Jack, Queen, King, or Ace the dealer will check their down card to see if they dealt them selves blackjack. Blackjack is when your first two cards equal 21. If the dealer does not deal themselves 21, you have a decision to make. Below you will see a basic strategy card, this card will tell you want you should do.</p>
	</div>

	<div id='basicStrategy'>
		<img src="/img/BJBasic.jpg">
	</div>

<div class = 'blackJackContent'>
	<p> Now when playing the game make sure to follow these rules to give your self the best advantage to win. Below you can test out your memorization of the card on scenario practice. Once you master the basic strategy and want to learn more contact our consultants who will tell you more about out blackjack packages below.</p>
</div>

<div id ='scenario'>
	<p> Use basic strategy to make the best decision on your hand.</p>
	<div id='firstHand'>
		You are showing 16, and the dealer is showing a 10. What do you do?
		<button type = 'submit' id='hit1'>Hit</button>
		<button type = 'submit' id='stay1'>Stay</button>
	</div>
<div id='secondHand'>
		You are showing 18, and the dealer is showing a 9. What do you do?
		<button type = 'submit' id='hit2'>Hit</button>
		<button type = 'submit' id='stay2'>Stay</button>
	</div>
<div id='thirdHand'>
		You are showing 12, and the dealer is showing a 6. What do you do?
		<button type = 'submit' id='hit3'>Hit</button>
		<button type = 'submit' id='stay3'>Stay</button>
	</div>
<div id='fourthHand'>
	You are showing 15, and the dealer is showing a 9. What do you do?
	<button type = 'submit' id='hit4'>Hit</button>
	<button type = 'submit' id='stay4'>Stay</button>
</div>

</div>

<script type="text/javascript" src='javascript/blackjack.js'></script>
</body>