<body>
	<div id = 'blackJackContent'>
		<p> Blackjack is a game were a group of players are playing against the dealer, or the house. In this game each player is dealt one card face up, from right to left in order sitting in front of the dealer. The dealer is then dealt one card face up. Each player is then dealt a second card face up, and the dealer deals them self a second card face down. If the first card was a ten, Jack, Queen, King, or Ace the dealer will check their down card to see if they dealt them selves blackjack. Blackjack is when your first two cards equal 21. If the dealer does not deal themselves 21, you have a decision to make. Below you will see a basic strategy card, this card will tell you want you should do.</p>
	</div>

	<div id='basicStrategy'>
		<img src="/img/BJBasic.jpg">
	</div>
</body>