<h1>This is our contact page.</h1>

<div id='greeting message'>
	<p>If you are interested in hearing more our are services please leave us an email, and one of our representatives will reach out to you.</p>
</div>

<form method='get' action='/thanks'>
	<div>Email:<input type="text" name="email"></div>
	<div>Subject:<input type="text" name="subject"></div>
	<div>Content:<input type="text" name="content"></div>
	<br>
	<div><input type="Submit" name="" value='Send Email'></div>
</form>