<h1>This is our contact page.</h1>

<form method='get' action='/contact'>
	
<div>Email:<input type="text" name="email"></div>
<div>Subject:<input type="text" name="subject"></div>
<div>Content:<input type="text" name="content"></div>
<br>
<div><input type="Submit" name="" value='Send Email'></div>


</form>