<body>
<div id='box1'><h1 id='header'>GAMBLING SERVICES INC.</h1></div>

<div id='box2'><h2 id='mission'>MISSION STATEMENT</h2></div>

<div id='box3'>
	<p>Gambling Services Inc., is a consulting service for those interested in making a career in the gambling world.  Our clients learn winning strategy, bankroll management, and self discipline in poker, blackjack, and mini baccarat.</p>
</div>

<div id='box4'>
	<h2>PACKAGES</h2>
</div>


<div id='box6'>
	<h3>Beginner Package</h3>
	<ul>
  <li>10 hours of consulting</li>
  <li>6 online lectures</li>
  <li>Cost: $399.99</li>
</ul>
</div>

<div id='box7'>
	<h3>Intermediate Package</h3>
	<ul>
  <li>20 hours of consulting</li>
  <li>12 online lectures</li>
  <li>Cost: $799.99</li>
</ul>
</div>

<div id='box8'>
	<h3>Advanced Package</h3>
	<ul>
  <li>30 hours of consulting</li>
  <li>18 online lectures</li>
  <li>Cost: $1,199.99</li>
</ul>
</div>





</body>
