<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title></title>
</head>

<body>
	<div class="bars" id="nav-action">
		<span class="bar"> </span>
	</div>

	<nav id="nav">
		<ul>
			<li class="shape-circle circle-one">
				<a href="#">Poker</a>
			</li>
			<li class="shape-circle circle-two">
				<a href="#">Blackjack</a>
			</li>
			<li class="shape-circle circle-three">
				<a href="#">Mini Baccarat</a>
			</li>
			<li class="shape-circle circle-five">
				<a href="#">Contact</a>
		</ul>
	</nav>



	<div class='main-container'>
		<%= yield %>
	</div>
	<script type="text/javascript" src='javascript/main.js'></script>
</body>

</html>