<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="type/css" href="css/main.css">
	<title></title>
</head>
<body>
<h1 id="gambling">Gambling</h1>
<div class='main-container'><%= yield %></div> 


</body>
</html>