<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Gambling Service Inc</title>
</head>

<body>
	<div class="wrapper">
		<header>
			<nav>
				<div class="menu-icon">
					<i class="fa fa-bars fa-2x"></i>
				</div>
				<div class="logo">	
					LOGO
				</div>
				<div class="menu">
			</nav>
		<headder>
    </div>

	<div class='main-container'>
		<%= yield %>
	</div>
	<script type="text/javascript" src='javascript/ma in.js'></script>
</body>

</html>