<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/main.css">
	<title></title>
</head>
<body>
<h1 id="gambling">Gambling2</h1>
<div class='main-container'><%= yield %></div> 


<!-- Mike test push -->
<!-- Andrew test push -->

</body>
</html>