<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title></title>
</head>

<body>
	<div class="bars" id="nav-action">
		<span class="bar"> </span>
	</div>

<nav id="nav">
	<ul>
		<li class="shape-circle frist-circle">Home</li>
		<li class="shape-circle second-circle">Contact</li>
		<li class="shape-circle third-circle">Poker</li>
		<li class="shape-circle forth-circle">Blackjack</li>
		<li class="shape-circle fifth-circle">Mini Baccarat</li>
	</ul>
</nav>










	<div class='main-container'>
		<%= yield %>
	</div>
</body>

</html>