<body>
	<div id='pBox1'>
		<h1>POKER: No Limit Holdem</h1>
	</div>
		<div id='pBox2'>
		<ul>
           <li>Position</li>
           <li>Table Image</li>
           <li>Hand Selection</li>
           <li>Bankroll Management</li>
        </ul>
    </div>

    <div id='pBox3'>
    	<h2>Position</h2>
    </div>
    
    <div id='pBox4'	
    	<ul>
           <li>Early</li>
           <li>Middle</li>
           <li>Late</li>
        </ul>
    </div>

    <div id='pBox5'>
    	<p>In the box below, type either 'early', 'middle', or 'late' to see the hands required to open a pot with a raise in that position.</p>
    </div>

    <div id='pBox6'>
    	<input id='pBox7' type="text" name="">
    	<input type="submit" name="">
    </div>

    <div id='pBox8'></div>







<script src='poker.js'></script>
</body>