<body>
	<div id='pBox1'>
		<h2>POKER: No Limit Holdem</h2>
	</div>
  <div id='pBox'>
    <p>Poker is a general term for the best five card poker hand.  There are dozens of variations on the game and new ones are being created all the time.  Because of the power of TV the most widely played game these days is No Limit Holdem.  Mastering the principles below will provide any hopeful the sound base needed to go on and become a winning player.
    </p>
  </div>

		<div id='pBox2'>
		<ul>
           <li>Position</li>
           <li>Table Image</li>
           <li>Bankroll Management</li>
        </ul>
    </div>

    <div id='pBox3'>
    	<h2>Position: Refers to the players turn in the rotation of play.</h2>
    </div>
    
    <div id='pBox4'	
    	  </ul>
           <li>Early: in this position the player is one of the first to act.</li>
           <li>Middle: When the player acts near the midway point of the betting round.</li>
           <li>Late: in this position a player acts near the end of the rotation.</li>
        </ul>
    </div>

    <div id='pBox5'>
    	<p>In the box below, type either 'early', 'middle', or 'late' to see the required hand ranges a skilled player needs to raise pre-flop.
    </div>

    <div id='pBox6'>
    <input id='pBox7' type="text" name="">
    <input id='submit' type="submit" name="">
    </div>
   

    <div id='pBox8'></div>

    <div id= 'pBox9'>
      <h2>Table Image: this refers to what other players think of your playing style.</h2>
    </div>
    <div id='pBox10'>
      <div id='pBox11'>
        <p> There are four possible styles a player can play.  While most players play just one, to be a great player you will need to know how and when to play each of them.</p>
      </div>
      <div id='pBox12'>
         </ul>
             <li>Tight-Passive</li>
             <li>Tight-Aggressive</li>
             <li>Loose-Passive</li>
             <li>Loose-Aggressive
         </ul>
      </div>
      <div id='pBox13'>
        <p>In the box below type in one of the styles 'tight-passive', 'tight-aggressive', 'loose-passive', 'loose-aggressive' to get a description of the style.</p>
      </div>

      <div id='pBox14'>

        <input id='pBox15' type="text" name="">
        <input id='submit2' type="Submit" name="">
      </div>

      <div id='pBox16'></div>

      <div id='pBox17'>

        <h2>Bankroll Management:  There's more great poker players that are broke than there are starving children in the world.  To be a good money manager, with a cash bankroll at your fingertips, you must do two thngs:</h2>
      </div>

          <div id="pBox18">

          <ul>
            <li>Have impenetrable self discipline</li>
            <li>Be a master navigator of variance</li>
          </ul>
        </div>

        <div id='pBox19'>

          <p>You need to understand the stakes you can afford to play without the fear of variance playing a factor in wiping you out.  If you play poker 100 hours per month, you will have 10 hour stretches where you just can't lose.  You are winning no matter what you start with.  There's also stretches where you can't win even when you start with aces or kings.  This is what variance is.  The up and down swings you will face as you gamble on outcome probabilities.  Good players manage variance by having incredible discipline in choosing what stakes they need to play.

          In the box below, enter your starting poker bankroll to find out at what stakes you should start.</p>
        </div>

          <div id='pBox20'>

            <input id='pBox21' type="text" name="">
            <input id='submit3' type="Submit" name="">
          </div>

          <div id='pBox22'></div>







<!-- <script type="text/javascript" src='javascript/main.js'></script> -->
<script type="text/javascript" src ='javascript/poker.js'></script>

</body>