body{
	background-color: black;
	color: white;
}

#box1{
	height: 175px;
	width: 175px;
	margin: auto;
	margin-botton: 10px;
}

#box2{
	height: 100px;
	width: 200px;
	margin-top: 20px;
	margin: auto;
}

#box3{
	height: 125px;
	width: 600px;
	font-size: 20px;
	margin: auto;

}

#box4{
	height: 100px;
	width: 150px;
	margin: auto;
}

#box6{
	height: 150px;
	width: 200px;
	margin: auto;
}
#box7{
	height: 150px;
	width: 200px;
	margin: auto;
}
#box8{
	height: 150px;
	width: 200px;
	margin: auto;
}