#pBox8{
	height: 90px;
	width: 400px;
	margin-top: 20px;
	background-color:black;
	margin: auto;
	margin-top: 20px;
	font-size: 20px;
}

#pBox{
	height: 163px;
	width: 600px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	background-color: black;
	font-size: 23px;
	margin: auto;
}

#pBox1{
	height: 215px;
	width: 300px;
	font-size: 38px;
	margin: auto;
}
#pBox2{
	height: 150px;
	width: 400px;
	font-size: 38px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-top: 8px;
	margin-bottom: 8px;

}
#pBox3{
	height: 78px;
	width: 400px;
	font-size: 20px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-bottom: 8px;
	
}
#pBox4{
	height: 82px;
	width: 680px;
	font-size: 22px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-bottom: 8px;
	
}
#pBox5{
	height: 90px;
	width: 400px;
	font-size: 22px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-bottom: 8px;
	
}
#pBox6{
	height: 30px;
	width: 350px;
	margin: auto;
}
#pBox9{
	height: 82px;
	width: 680px;
	font-size: 22px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-bottom: 8px;
	margin-top:8px;

}
#pBox11{
	height: 82px;
	width: 680px;
	font-size: 22px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-bottom: 8px;
}
#pBox12{
	height: 105px;
	width: 680px;
	font-size: 22px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-bottom: 8px;
}
#pBox13{
	height: 70px;
	width: 680px;
	font-size: 22px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-bottom: 8px;
}
#pBox14{
	height: 30px;
	width: 350px;
	font-size: 22px;
	margin-top: 10px;
	margin: auto;
	margin-bottom: 8px;
}
#pBox16{
	height: 125px;
	width: 680px;
	font-size: 22px;
	margin-top: 10px;
	margin: auto;
	background-color: black;
	margin-bottom: 8px;
}
#pBox17{
    height: 250px;
	width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	background-color: black;
	font-size: 23px;
	margin: auto;
	border: 2px solid red;
}
#pBox18{
	height: 90px;
	width: 600px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	background-color: black;
	font-size: 30px;
	margin: auto;
	border: 2px solid red;
}
#pBox19{
	height: 350px;
	width: 600px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	background-color: black;
	font-size: 25px;
	margin: auto;
	border: 2px solid red;

}
#pBox20{
	height: 30px;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	background-color: black;
	font-size: 23px;
	margin: auto;
	border: 2px solid red;

}
#pBox22{
	height: 78px;
	width: 600px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	background-color: black;
	font-size: 23px;
	margin: auto;
	border: 2px solid red;
}