<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gambling Service Inc</title>
</head>

<body>

<section id="showcase">
  <div class="container">
    <h1>Gambling Services Inc<h1>
      <h2><p>Gambling Services Inc., is a consulting service for those interested in making a career in the gambling world. Our clients learn winning strategy, bankroll management, and self discipline in poker, blackjack, and mini baccarat.</p><h2>
  </div>
  </section>

  <section id="newsletter">
    <div class="container">
      <h1>Subscribe to us!</h1>
      <form>
        <input type="email" placeholder="Enter Email...">
        <button type="submit" class="button_1">Subscribe</button>
      </form>
  </section>

  <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="../img/playing_cards.jpg">
          <h3>Beginner's Package</h3>
          <ul>
            <li>10 hours of consulting</li>
            <li>6 online lectures</li>
            <li>Cost: $399.99</li>
        </div>

        <div class="box">
          <img src="../img/One-dice-clipart-free-clipart-images.jpeg">
          <h3>Intermediate Package</h3>
          <ul>
            <li>30 hours of consulting</li>
            <li>18 online lectures</li>
            <li>$1,199.99</li>
        
        </div>

        <div class="box">
          <img src="../img/poker-clipart-animated-1.jpg">
          <h3>Expert</h3>
          <ul>
            <li>40 hours of consulting</li>
            <li>20 online lectures</li>
            <li>$2,000</li>
          
        </div>
      </div>
  </section>

  <footer>
    <p>Gambling Service Inc, Copyright &copy; 2018</p>
  </footer>


  
</body>

</html>
