<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Gambling Service Inc</title>
</head>

<body>
	<header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Gambling</span> Services Inc</h1>
    </div> 
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/poker">Poker</a></li>
            <li><a href="/mini_baccarat">Mini Baccarat</a></li>
            <li><a href="/blackjack">Blackjack</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
	
	
	<div class='main-container'>
		<%= yield %>
	</div>
	<script type="text/javascript" src='../javascript/main.js'></script>
</body>

</html>